body {
 	background-color: #bce4e5;
}

.maindiv {
	background-color: #9dcaec;
  box-sizing: border-box;
  padding: 20px;
	margin: auto;
	width: 75%;
	height: 50%;
	border: 2px;
  border-radius: 5px;
}

.ok{
	color: green;
	background-color: yellow;
}

.ko{
	color: red;
}

button {
  border-radius:50px;
  color: #0D98BA;
  background-color: #e0ffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-transform:uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 5px;
  cursor: pointer;
}